.layout {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.layout-header {
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
}

.layout-main {
  display: flex;
  justify-content: center;
}
